.order-form {
  background-color: #000000;
  min-height: 100dvh;
  padding-top: 48px;
  box-sizing: border-box;
&__title{
  color: white;
}

&__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

&__container {
  display: flex;
  justify-content: center;
}

&__form-mins {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

&__actions{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


&__footer {
  display: flex;
  box-shadow: inset 0px 1px 0px 0px #adabab;
  background-color: #060607;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: baseline;
  padding: 8px;
}

@media screen and (max-width: 1440px  ) {
  &__side {
    display: none;
  }
  &__form-mins{
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1440px  ) {
  padding: 0;
  &__side {
    display: none;
  }
  &__container {
    display: block;
    padding: 16px;
  }
}

}
.mat-form-field {
  background-color: #fff;
  color: #000;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #4caf50;
}

.mat-form-field-underline {
  background-color: #fff;
}

.mat-form-field-underline.mat-focused {
  background-color: #4caf50;
}

.mat-select {
  background-color: #fff;
  color: #000;
}

.mat-select-trigger {
  color: #000;
}

.mat-select-arrow {
  color: #000;
}

.mat-select-panel {
  background-color: #000;
  color: #fff;
}

.mat-option {
  color: #fff;
}

.mat-option:hover {
  background-color: #444;
}

.mat-input-element {
  color: #000;
}

.mat-input-element::placeholder {
  color: #ccc;
}

.mat-form-field.mat-focused .mat-input-element {
  color: #4caf50;
}

.mat-form-field.mat-focused .mat-input-element::placeholder {
  color: #4caf50;
}

.mat-raised-button {
  background-color: #4caf50;
  color: #fff;
}

.mat-raised-button:hover {
  background-color: #448aff;
}

.file-input {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.file-input:hover {
  background-color: #f5f5f5;
}


