.landing {
background-color: black;
&__container{
  height: 100dvh;
  width: 100vw;
  position: relative;
}

&__container-footer{
  color: white;
}

&__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

&__button {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  cursor: pointer;
}

&__cart-icon{
  position: absolute;
  color: white;
  z-index: 2;
  top: 24px;
  right: 48px;
}

&__cart-icon > mat-icon{
  font-size: 32px;
}
}

