
<router-outlet></router-outlet>
<footer class="app__footer">
<div class="app__footer-container">
    <mat-divider></mat-divider>
  <div class="app__footer-icons">
    <a href="https://www.facebook.com/boriu.indumentaria/" target="_blank">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/boriu.ar/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5491165155683" target="_blank">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
  </div>
</div>
</footer>
